/* html{
    padding: 0;
} */

header{
    width: 94%;
    background-color: #000;
    color: #fff;
    padding: 10px 3%;
    font-size: 1.5rem;
}

header span:nth-child(1) { color: #f4d4b0; }
header span:nth-child(2) { color: #add1da; }
header span:nth-child(3) { color: #dec4ca; }

body{
    margin: 0px;
    font-family: 'Maven Pro', sans-serif;
    background-color: #f5f5f5;
}

#contents-div{
    display: flex;
    margin: 15px 15px;
}

#svg-div{
    margin: 0px 15px;
    text-align: center;
}

#canvas-div{
    text-align: center;
}

#btn-div{
    margin: 15px 10px 5px 10px;
}

#pccs-svg{
    width: 360px;
    height: 360px;
    margin: 0;
}

#img-canvas{
    width: 350px;
    height: 350px;
    border: dotted 3px #ccc;
}

#img-canvas.drag {
    opacity: 0.5;
}

#image-file-input{
    display: none;
}

.image-btn {
    background-color: #565566;
    padding: 6px;
    border-radius: 12px;
    color: #fff;
    font-family: inherit; 
    font-size: 0.8rem;
}


@media screen and (max-width:500px) {
    #contents-div{
        display: block;
        margin: 15px 0px;
    }
}